.footer {

	background: #3c3c3c;
	padding: 45px 0px;

	position: relative;
	z-index: 5;

	&__body {

		text-align: center;

	}

	&__logo {

		display: inline-block;
		margin-bottom: 40px;

	}

	&__menu {

		text-align: center;

	}

	&__list {

		display: flex;
		justify-content: center;
		align-items: center;

		margin-bottom: 35px;

		li {

			margin: 0 15px;

		}

		@media (max-width: 350px) {

			flex-wrap: wrap;

			li {

				flex: 1 1 50%;
				margin: 5px 0px;

			}

		}

	}

	&__link {

		color: #a4a4a4;
		font-size: 14px;
		font-weight: 400;

		&:hover {color: #fff;}

	}

	&__text {

		color: #6c6c6c;
		font-size: 14px;


	}

}