@import "nullstyle.scss";
@import "mixin.scss";
@import "baguetteBox.min.scss";
@import "footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Обнуляющий стиль



// ===========================


// Переменные - начало

$break1: 1250px;
$flexWidth: 600px;
$contacts: 700px;

// Переменные - конец


// ===========================


// Модификаторы - начало



// Модификаторы - конец


// ===========================

 
// Общие стили - начало

body {
	font-family: Lato;
}

.ibg{

background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
img {display: none;}

}

// ==========

// Враппер - начало

// Оболочка всего сайта

.page {

	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;


	@include flex;

	@include flex-direction_column;


}

.wrapper {

	width: 100%;
	min-height: 100%;
	overflow: hidden;

	@include flex;
	@include flex-direction_column;

}

// Враппер - конец

// ==========

// Контейнер - начало

// Ограничивающая контент часть

.container {

	max-width: 1133px;
	padding: 0 15px;
	margin: 0 auto;
	// width: 100%;

}

// Контейнер - конец

// ==========

// Кнопка - начало

// Общий каркас всех кнопок на сайте



.btn {

	height: 47px;

	display: inline-block;

	background: transparent;

	line-height: 44px;
	padding: 0px 47px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.67px;

	background: transparent;

	&_w {

		color: #fff;
		border: 2px solid #fff;

		&:hover {

			background: rgba(255, 255, 255, 0.5);

		}

	}

	&_b {

		color: #000;
		border: 2px solid #000;

		&:hover {

			background: rgba(0, 0, 0, 0.2);

		}

	}

	&_nobrd {

		border: 1px solid transparent;

		&:hover {

			background: transparent;
			font-weight: 900;

		}

	}

}

// Кнопка - конец

// ==========

// Хедер блок - начало

// Блок с общими чертами - жирный заголовок и текст под ним (на флексах)

.header-block {

	text-align: center;

	&__title { 

		font-size: 34px;
		font-weight: 700;
		letter-spacing: 8.95px;
		text-transform: uppercase;
		position: relative;

		padding-bottom: 30px;


		&:after {

			content: '';

			position: absolute;

			left: 50%;
			bottom: 0;

			margin-left: -40.5px;

			width: 81px;
			height: 1px;

			background: #000;

		}

	}

	&__subtitle {

		padding-top: 40px;

		max-width: 700px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.98px;
		margin: 0 auto;

	}

}

// Хедер блок - конец

// ==========


// Общие стили - конец


// ===========================


// Первый блок - начало

.mainblock {

	flex: 1 0 100%;
	position: relative;
	@include flex;
	justify-content: center;
	// align-items: center;
	text-align: center;

	padding: 50px 0;

	&__content {

		position: relative;
		flex: 1 1 auto;	

		.container {

			height: 100%;
			@include flex;
			@include flex-direction_column;
			justify-content: space-between;
			align-items: center;

		}

	}
	&__logo {



	}

	&__text {

		color: #fff;
		
		position: relative;

		padding-bottom: 45px;

		&:after {

			content: '';
			position: absolute;
			width: 105px;
			height: 2px;
			background: #fff;

			left: 50%;
			bottom: 0;

			margin-left: -52.5px;

		}

	}

	&__title {

		font-size: 34px;
		font-weight: 900;
		line-height: 40px;
		text-transform: uppercase;

		letter-spacing: 5.43px;

		margin-bottom: 10px;


	}

	&__subtitle {

		font-style: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;

	}

	&__footer {

		@include flex;
		@include flex-direction_column;

	}
	&__btn {

		margin-top: 10%;

	}

	&__arrow {

		padding-top: 75px;
		opacity: 0.8;

		&:hover {

			opacity: 1;

		}

	}

	&__image {

		position: fixed;

		width: 100%;
		height: 100%;

		top: 0;
		left: 0;

		z-index: -1;
	}

}




// Первый блок - конец


// ===========================


// Второй блок - начало

.content {

	background: #fff;
	position: relative;
	z-index: 1;

}

.menu {

	padding: 22px 0;

	border-bottom: 1px solid #f2f2f2;

	&_m {

		margin-bottom: 130px;

		@media (max-width: $break1) {

		margin-bottom: 65px;


		}

	}

	&__items {}

	&__list {

		@include flex;
		justify-content: center;
		align-items: center;


		@media (max-width: 520px) {

		flex-wrap: wrap;

			li {

				flex: 0 1 25%;

					&:nth-child(1), &:nth-child(2) {

						padding-bottom: 20px;

					}

			}

		}

		@media (max-width: 300px) {

		flex-wrap: wrap;

			li {

				flex: 0 1 25%;

				padding-bottom: 20px;



			}

		}

		li {

			margin: 0 25px;

		}

	}

	&__link {

		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;

		&:hover {

			color: #bfb07f;

		}

		&_active {
			color: #ada074;

		}

	}


}



// Второй блок - конец


// ===========================


// Третий блок - начало

.about {

	margin-bottom: 60px;

	&__header-block {

		margin-bottom: 65px;

	}

	&__body {

		text-align: center;

	}

	&__row {

		@include flex;

		@media (max-width: $flexWidth) {

			display: block;

		}

	}

	&__column {

		margin-bottom: 30px;

		max-width: 840px;

		flex: 0 1 33.333%;

		&:nth-child(2) {

			margin: 0px 80px;

		}

		@media (max-width: $flexWidth) {

			margin: 0px 20px;

			&:nth-child(2) {

				margin: 0px 20px;

			}

		}


	}

	&__item {

		text-align: center;

		max-width: 260px;

		@media (max-width: $flexWidth) {

			max-width: none;

		}




	}

	&__icon {

		width: 92px;
		height: 92px;

		border: 1px solid #f2f2f2;
		border-radius: 50%;

		@include flex;
		justify-content: center;
		align-items: center;

		margin: 0 auto;

		margin-bottom: 45px;

		&_l {

			img {

				position: relative;
				left: 5%;
				top: -1%;

			}

		}

	}

	&__title {

		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 3.52px;

		margin-bottom: 33px;

	}

	&__text {

		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;

	}


	@media (max-width: $break1) {

		padding-left: 20px;
		padding-right: 20px;

		&__header-block {


			margin-bottom: 35px;

		}

		&__icon {

			margin-bottom: 5px;

		}

	}

	@media (max-width: $flexWidth) {

		margin-bottom: 60px;

		&__title {

			text-transform: uppercase;
			font-size: 22px;
			letter-spacing: 3.52px;

			margin-bottom: 10px;

		}

		&__icon {

		margin-bottom: 15px;

		}

		&__header-block {

		margin-bottom: 0px;

		}

	}

}





// Третий блок - конец


// ===========================


// Четвертый блок - начало

.portfolio {

	background: #f3f3f3;

	padding: 105px 0px 60px 0px;

	&__header-block {

		margin-bottom: 50px;

	}

	&__filter {

		margin: 50px 0px 140px 0px;

	}

	&__items {

		@include flex;
		flex-wrap: wrap;

		margin: 0 15px;

		justify-content: center;
		align-items: center;

	}

	&__column {

		flex: 0 1 50%;
		max-width: 50%;
		padding: 0px 15px;
		margin-bottom: 30px;

		@media (max-width: 560px) {

			flex: 1 1 100%;
			max-width: 100%;
			margin-bottom: 20px;


		}

	}

	&__item {

		img{max-width: 100%;}

	}

	&__footer {}

	&__btn {}

}


.filter {

	&__list {

		@include flex;
		justify-content: center;
		align-items: center;

	}

	&__item {

		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0px 25px;

		cursor: pointer;

		&_active {

			color: #ada074;

		}

	}

}


.gallery {}



// Четвертый блок - конец


// ===========================


// Пятый блок - начало

.partners {

	padding-top: 90px;

	.container {

		max-width: 600px;

	}

	&__title {

		text-align: center;

		color: #fff;
		font-size: 30px;
		font-weight: 300;


	}

	&__items {


		padding: 100px 0;

		@include flex;
		flex-wrap: wrap;

		justify-content: space-between;
		align-items: center;

	}

	&__column {

		@media (max-width: 400px) {

			text-align: center;

			flex: 0 1 50%;

		}

	}

	&__item {


	}

}


// Пятый блок - конец


// ===========================


// Шестой блок - начало

.contacts {

	background: #fff;

	padding: 180px 0px 60px 0px;

	@media (max-width: $contacts) {

		padding: 90px 0px 30px 0px;
			
		}

	&__header-block {



	}

	&__title {

		margin-bottom: 120px;

		@media (max-width: $contacts) {

		margin-bottom: 50px;
			
		}

	}

	&__body {

		@include flex;

		@media (max-width: $contacts) {

			display: block;

		}
	}

	&__column {

		flex: 0 1 50%;
		padding: 0px 25px;

		@media (max-width: $contacts) {

			padding: 0px 0px;

		}

	}

	&__form {

		text-align: right;

		@media (max-width: $contacts) {

			text-align: left;
			margin-bottom: 30px;

		}

		textarea {

			height: 117px;
			resize: none;
			padding: 10px 20px;

		}

	}

	&__content {

		max-width: 260px;

		@media (max-width: $contacts) {

			max-width: none;
		}

	}

	&__text {

		font-size: 14px;
		font-weight: 300;
		line-height: 26px;

		margin-bottom: 35px;

	}

	&__name {

		font-size: 14px;
		font-weight: 700;

		margin-bottom: 25px;

	}

	&__social {

		img {margin-right: 9px;}

	}

	&__email {

		font-size: 14px;

		a {

			font-weight: 700;
			color: black;

			&:hover {

				text-decoration: underline;

			}

		}

	}

}




.form-contacts {

	&__body {

		display: inline-block;
		width: 100%;
		max-width: 385px;

		@media (max-width: $contacts) {

			display: block;
			max-width: none;
		}

	}

	&__row {

		@include flex;
		margin: 0 -15px 70px -15px;

	}

	&__column {

		flex: 0 1 50%;
		padding: 0px 15px;

	}

	&__input {}

	&__label {

		font-size: 14px;
		font-weight: 700;

		margin-bottom: 10px;
		text-transform: uppercase;

		text-align: left;

	}

	&__btn {

		margin-top: 35px;
		border: 1px solid transparent;

		@media (max-width: $contacts) {

			display: block;
			border: 1px solid #000;
			width: 100%;
		}

		&:hover {

			background: transparent;
			font-weight: 900;

		}

	}

}

.input {

	position: relative;

	border-top: 1px solid #000;
	
	width: 100%;
	height: 50px;

	border-radius: 0;

	font-size: 15px;

	display: block;

	padding: 0 20px;

	background: #f8f7f7;

}


.social {

	@include flex;

	margin-bottom: 15px;

	&__item {

		margin-bottom: 15px;

	}

}



// Шестой блок - конец


// ===========================



// ==========

//Настройки для браузеров - начало

	.win.gecko {

		.page {

  				display: block;

		}

	}

//Настройки для браузеров - конец

// ==========